<div class="container-fluid mt-5 ">
  <div *ngIf="product" class="d-flex flex-column flex-md-row gap-5">
    <div>
      <div style="height: 350px">
        <img
          src="{{ image || product.thumbnail }}"
          alt=""
          style="height: 100%"
          class="img-fluid"
        />
      </div>
      <div
        class="d-flex flex-row mt-4"
        style="width: 50%; height: 8rem; overflow-x: scroll"
      >
        <img
          src="{{ url }}"
          alt=""
          *ngFor="let url of product.images"
          (click)="showimage(url)"
        />
      </div>
    </div>

    <div class="d-flex flex-column" style="max-width: 40rem">
      <h2>Brand:{{ product.brand }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.category }}</p>

      <p class="text-danger">${{ product.price }}</p>

      <p class="bi bi-star text-primary">{{ product.rating }}</p>

      <div class="text-start">
        <!-- <button class="btn btn-primary">Add to Cart</button> -->


        
         <button class="btn btn-primary" [disabled]="loading" (click)="addToCart(product._id)">Add to Cart <span *ngIf="loading"
            class="spinner-border spinner-border-sm" aria-hidden="true"></span> <i *ngIf="!loading"
            class="bi bi-cart"></i></button> 
      </div>
    </div>
  </div>
</div>
