<nav class="navbar navbar-expand navbar-light" style="height: 50px">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex flex-md-row" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <button class="nav-link active" routerLink="/">Home</button>
        </li>

        <!-- <li class="nav-item margin-left">
          <a class="nav-link active  " routerLink="/login">Login</a>
        </li> -->
        <!-- 
        <li class="nav-item margin-left">
          <a class="nav-link active " routerLink="/signup">Signup </a>
        </li> -->

        <li class="nav-item margin-left">
          <a class="nav-link active" routerLink="/products">Products </a>
        </li>

        <li class="nav-item margin-left">
          <a class="nav-link active" routerLink="/contact">contact-us </a>
        </li>
      </ul>
      <div>
        <i class="bi bi-person-circle dropdown  ">
          <div class="dropdown-content">
            <button class="nav-link active" style="color: rgb(124, 124, 236); font-size: 20px" *ngIf="!loggedIn"
              routerLink="/login">
              Login
            </button>

            <button class="nav-link active" style="color: rgb(124, 124, 236); font-size: 20px" *ngIf="!loggedIn"
              routerLink="/signup">
              Signup
            </button>

            <button class="nav-link active" style=" font-size: 20px" *ngIf="loggedIn" (click)="logout()" >
              Logout
            </button>

            <button class="nav-link active" style=" font-size: 20px" *ngIf="loggedIn"
              routerLink="/order">
              Orders
            </button>
          </div>
        </i>
      </div>
      <div>
        <span
        class="position-absolute translate-middle badge rounded-pill bg-danger"style="top: 15px; right: -20px"
        
      >
        {{count}} </span>
        <i class="bi bi-cart " title="Cart" style="cursor: pointer   "  routerLink="/cart" >
        
        </i>
      </div>
    </div>
  </div>
</nav>

<!-- <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search for products,brands and more" aria-label="Search">
    <button class="btn btn-light" type="submit">Search</button>
  </form> -->